<div class="shad-table-wrap">
  <table class="shad-table ui-data-table <%= @table_class %>">
    <thead class="shad-table__head">
      <tr class="shad-table__row shad-table__row--head">
        <% @columns.each do |column| %>
          <th class="shad-table__th"><%= column.fetch(:label) %></th>
        <% end %>
      </tr>
    </thead>
    <tbody class="shad-table__body">
      <% if loading? %>
        <tr class="shad-table__row">
          <td class="shad-table__td" colspan="<%= column_count %>"><%= @loading_message %></td>
        </tr>
      <% elsif error? %>
        <tr class="shad-table__row">
          <td class="shad-table__td" colspan="<%= column_count %>"><%= @error_message %></td>
        </tr>
      <% elsif empty? %>
        <tr class="shad-table__row">
          <td class="shad-table__td" colspan="<%= column_count %>">No account totals available.</td>
        </tr>
      <% else %>
        <% @rows.each do |row| %>
          <tr class="shad-table__row">
            <% @columns.each do |column| %>
              <td class="shad-table__td"><%= row.fetch(column.fetch(:key), "-") %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
